<div ng-if="view == 'all'">
	<div>
		<h2> Event-Anmeldung </h2>
		<input type="text" placeholder="Code"/>
		<button type="submit">Senden </button>
	</div>
	<ul class="eventlist">
	<li ng-repeat="event in events | filter:query ">
		<h2>Info-Veranstaltung in {{event.city}}</h2>
		<section class="row eventinfo">
			<img ng-src="{{event.image || public/images/event.jpg}}" class="imgevent"/>
			<div>
				<p>{{event.title}}</p>
				<p>{{event.description}}</p>
			</div>
			<button ng-click="go('/events/' + event.id)" class="btn btn-primary">
				<span> > </span>
			</button>
		</section>
	</li>
	</ul>
</div>

<div ng-if="view == 'details'">
	<h2>Info-Veranstaltung in {{event.city}}</h2>
        <p>{{event.description}}</p>
        
        <h2> Ihre Antwort, Herr Maximilian Maier</h2>
        <p ng-click="go('/events/' + event.id + '/confirmation')" > Nein, Ich kann leider nicht teilnehmen </p>
        <p> Ja, Ich nehme geme an der Veranstaltung teil </p>
        <p> Ja, Ich nehme geme an der Veranstaltung teil und komme in Begleitung von: </p>
        
        
        <form>
            <h2>Ihre Daten</h2>
            <section class="rowform">
                <div class="form-group">
                    <p>Anrede</p>
                    <input type="text" name="anrede"/>
                </div>
                <div class="form-group">
                    <p>Titel</p>
                    <input type="text" name="Titel"/>
                </div>
            </section>
            <section class="rowform">
                <div class="form-group">
                    <p>Vorname</p>
                    <input type="text" name="vorname"/>
                </div>
                <div class="form-group">
                    <p>Nachname</p>
                    <input type="text" name="nachname"/>
                </div>
            </section>
            <div class="form-group">
                <p>Firma</p>
                <input type="text" name="firma"/>
            </div>
            <div class="form-group">
                <p>E-Mail</p>
                <input type="email" name="email"/>
            </div>
            
            <button type="submit"> Antwort speichern</button>
        </form>
        
</div>

<div ng-if="view == 'confirmation'">
    <h2>Info-Veranstaltung in {{event.city}}</h2>
    <p>{{event.description}}</p>
    <h2> Vielen Dank! Ihre Antwort wurde erfolgreich gespeichert.</h2>
    
    <button ng-click="home()" class="btn btn-primary">
        <span> < </span>
    </button>
</div>

