img{
    border: 0;
}

header, .container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

header {
    border-bottom: 1px solid purple;
    height: 100px;
    line-height: 100px;
    padding-bottom: 10px;
}

h2{
	font-weight: bold;
	font-size: 1.3em;
}

.logo {
    width: auto;
    height: 100%;
}

.eventlist li{
	list-style: none;
}

.eventinfo, .rowform {
	display: flex;
}
.imgevent{
	height: 80px;
	margin: 15px;	
}

